body.dark_ignored {
    // background-image: url(https://as2.ftcdn.net/v2/jpg/05/85/96/25/1000_F_585962578_okCATWrkdJU5x5KWdeUpoW4Dnbap58dM.jpg);
    background-image: url(https://png.pngtree.com/background/20230403/original/pngtree-starry-sky-night-view-lake-picture-image_2273438.jpg);
    background-size: cover;
    height: 100vh;
}
